#center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#left {
    text-align: left;
}

.k2d-regular {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background: url('Greenho.png') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 0px;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    
}

.icons {
    margin-top: 20px;
}

.icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.fonts1 {
    font-size: 60px;
}

.fonts2 {
    font-size: 50px;
}

.fonts3 {
    font-size: 30px;
}

.fonts4 {
    font-size: 20px;
}

.fonts5 {
    font-size: 25px;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #007c15, 0 0 40px #007c15, 0 0 50px #007c15, 0 0 60px #007c15, 0 0 70px #007c15;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #5bff56, 0 0 40px #5bff56, 0 0 50px #5bff56, 0 0 60px #5bff56, 0 0 70px #5bff56, 0 0 80px #5bff56;
    }
}

.border{
    border-radius: 4%;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flipping-cards {
    display: flex;
    justify-content: space-between;
    width: 210px; /* Adjust based on the number of cards and their width */
}

.card {
    width: 30px;
    height: 40px;
    background-color: #FF5C35;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    animation: flip 2s infinite;
}

.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.3s;
}

.card:nth-child(3) {
    animation-delay: 0.6s;
}

.card:nth-child(4) {
    animation-delay: 0.9s;
}

.card:nth-child(5) {
    animation-delay: 1.2s;
}

.card:nth-child(6) {
    animation-delay: 1.5s;
}

.card:nth-child(7) {
    animation-delay: 1.8s;
}

@keyframes flip {
    0%, 100% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
}